<div class="intro">
Добро пожаловать на сайт русскоязычного сообщества Haskell-разработчиков! 
Наше желание — использовать этот прекрасный язык, а не просто разговаривать о нём. 
Наше стремление — объединить всех хаскелистов, говорящих по-русски. 
Наша цель — увеличить долю использования Haskell в России.
</div>

<div style="padding-top: 40px;"></div>

<h1>Последние публикации</h1>

$partial("templates/post-list.html")$

<div class="clear-button">
    <a class="btn btn-primary btn-lg" href="/archive.html" role="button">
        <span style="color: #fff;">Остальные&nbsp;&nbsp;<span class="fa fa-arrow-right"></span></span>
    </a>
</div>
