<h1>$linksTitle$</h1>

<ul id="externalLinks" class="nav nav-tabs custom-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#mainLinks" 
           id="mainLinksTab" 
           role="tab" 
           data-toggle="tab"
           aria-controls="mainLinks"
           aria-expanded="true">Главное
        </a>
    </li>
    
    <li role="presentation">
        <a href="#tools" 
           id="toolsTab" 
           role="tab" 
           data-toggle="tab"
           aria-controls="tools"
           aria-expanded="true">Инструменты
        </a>
    </li>

    <li role="presentation">
        <a href="#books" 
           id="booksTab" 
           role="tab" 
           data-toggle="tab"
           aria-controls="books"
           aria-expanded="true">Книги
        </a>
    </li>

    <li role="presentation">
        <a href="#blogs" 
           role="tab"
           id="blogsTab"
           data-toggle="tab"
           aria-controls="blogs">Блоги
        </a>
    </li>

    <li role="presentation">
        <a href="#community" 
           role="tab"
           id="communityTab"
           data-toggle="tab"
           aria-controls="misc">Сообщества
        </a>
    </li>

    <li role="presentation">
        <a href="#misc" 
           role="tab"
           id="miscTab"
           data-toggle="tab"
           aria-controls="misc">Разное
        </a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <div role="tabpanel" 
         class="tab-pane fade in active"
         id="mainLinks"
         aria-labelledBy="mainLinksTab">
        <a href="https://www.haskell.org/haskellwiki/Haskell" target="_blank">haskell.org</a> &mdash; официальный сайт языка Haskell.
        <div class="links-divider"></div>
        <a href="http://www.reddit.com/r/haskell/" target="_blank">reddit/r/haskell</a> &mdash; Reddit-канал языка Haskell. Один из лучших источников свежайших новостей.
        <div class="links-divider"></div>
        <a href="https://haskell.zeef.com/" target="_blank">Awesome Haskell</a> &mdash; Пополняемый сообществом единый каталог ссылок на библиотеки, tutorials, презентации и доклады по Haskell.
        <div class="links-divider"></div>
        <a href="http://www.dohaskell.com/" target="_blank">doHaskell</a> &mdash; Огромный список тематических ссылок на самые разные Haskell-ресурсы. 
    </div>
    
    <div role="tabpanel" 
         class="tab-pane fade"
         id="tools"
         aria-labelledBy="toolsTab">
        <div class="links-group-title">Веб-разработка</div>
        
        <div class="links-indent">
            <a href="http://www.yesodweb.com/" target="_blank">yesodweb.com</a> &mdash; веб-фреймворк.
            <div class="links-divider"></div>
            <a href="http://snapframework.com/" target="_blank">snapframework.com</a> &mdash; ещё один веб-фреймворк.
            <div class="links-divider"></div>
        </div>
    </div>

    <div role="tabpanel" 
         class="tab-pane fade"
         id="books"
         aria-labelledBy="booksTab">
        <div class="links-group-title">О Haskell в целом</div>
        
        <div class="links-indent">
            <a href="http://dmkpress.com/catalog/computer/programming/functional/978-5-97060-038-5/" target="_blank">Изучай Haskell во имя добра!</a> &mdash; книга для "нулевых" новичков.
            <div class="links-divider"></div>
            <a href="http://www.piter.com/product/izuchaem-haskell-biblioteka-programmista" target="_blank">Изучаем Haskell</a> &mdash; ещё одна книга для новичков, но уже более продвинутая. Делается больший упор на практику.
            <div class="links-divider"></div>
            <a href="http://www.ozon.ru/context/detail/id/19435989/" target="_blank">Жемчужины функционального программирования</a> &mdash;книга с разбором интересных задач и подходов к их решению. 
            <div class="links-divider"></div>
            <a href="http://www.ozon.ru/context/detail/id/27292818/" target="_blank">Параллельное и конкурентное программирование на языке Haskel</a> &mdash; полезная книга описывающая как теорию так и практику.
            <div class="links-divider"></div>
        </div>

        <div class="links-group-title">Англоязычные книги</div>
        <div class="links-indent">
            <a href="http://www.amazon.com/dp/1783286334/ref=wl_it_dp_o_pC_nS_ttl?_encoding=UTF8&colid=1AZE8OU3J8416&coliid=I26OEHSCA2INFJ" target="_blank"> Nishant Shukla - Haskell Data Analysis Cookbook</a>
            <div class="links-divider"></div>
            <a href="http://www.amazon.com/dp/0201882957/ref=wl_it_dp_o_pC_S_ttl?_encoding=UTF8&colid=1AZE8OU3J8416&coliid=I14LF1K2H72J89" target="_blank">Simon Thompson - Haskell: The Craft of Functional Programming (3rd Edition) (International Computer Science Series)</a>
            <div class="links-divider"></div>
            <a href="http://www.amazon.com/dp/1782169431/ref=wl_it_dp_o_pC_nS_ttl?_encoding=UTF8&colid=1AZE8OU3J8416&coliid=I3D0VW350U5O1K" target="_blank">Pavel Ryzhov - Haskell Financial Data Modeling and Predictive Analitics</a>
            <div class="links-divider"></div>
            <a href="http://www.amazon.com/dp/1107452643/ref=wl_it_dp_o_pC_nS_ttl?_encoding=UTF8&colid=1AZE8OU3J8416&coliid=I1MMAZIQ1XJKL1" target="_blank">Richard Bird - Thinking Functionally with Haskell</a>
        </div>
    </div>
    
    <div role="tabpanel" 
         class="tab-pane fade"
         id="blogs"
         aria-labelledBy="blogsTab">
        <div class="links-group-title">Англоязычные</div>
        <div class="links-indent">
            <a href="http://www.haskellforall.com/" target="_blank">Haskell for all </a> &mdash; весьма интересный и живой блог, целиком посвящённый разработке на Haskell. "Нулевым" новичкам не рекомендуется.
            <div class="links-divider"></div>
            <a href="http://jaspervdj.be/" target="_blank">Jasper Van der Jeugt blog</a> &mdash; блог профессионального Haskell-разработчика, создателя блистательного Hakyll.
            <div class="links-divider"></div>
            <a href="http://www.well-typed.com/blog/" target="_blank">Well Typed blog</a> &mdash; блог одной из ведущих консультационных фирм.
        </div>
    </div>

    <div role="tabpanel"
         class="tab-pane fade"
         id="community"
         aria-labeledBy="communityTab">

        <div class="links-group-title">Русскоязычные</div>

        <div class="links-indent">
            <a href="http://ruhaskell.org/links.html#community" target="_blank">Русскоязычное сообщество Haskell-разработчиков</a> &larr; вы находитесь здесь
            <div class="links-divider"></div>
            Livejornal <a href="http://ru-lambda.livejournal.com/" target="_blank">ru_lambda</a>
            <div class="links-divider" target="_blank"></div>
            Juick.com <a href="http://juick.com/tag/Haskell" target="_blank">по тегу Haskell</a>
            <div class="links-divider" target="_blank"></div>
            Агрегатор новостей <a href="http://fprog.ru/planet/" target="_blank">Lambda Planet</a>
            <div class="links-divider"></div>
            Хабрахабр <a href="http://habrahabr.ru/hub/Haskell/" target="_blank">hub: Haskell</a>
        </div>
        
        <div class="links-group-title">Англоязычные</div>
        <div class="links-indent">
        Список рассылки <a href="https://www.haskell.org/pipermail/haskell-cafe/" target="_blank">haskell-cafe</a> &mdash; всевозможные вопросы, очень высокий уровень ответов.
        <div class="links-divider"></div>
        Список рассылки <a href="https://www.haskell.org/pipermail/haskell-beginners/" target="_blank">haskell-beginners</a> &mdash; список рассылки рекомендованный для новичков, в котором готовы очень подробно объяснить решение.
        </div>
    </div>

    <div role="tabpanel" 
         class="tab-pane fade"
         id="misc"
         aria-labelledBy="miscTab">
        <div class="links-group-title">Поиск по Haskell API</div>
        
        <div class="links-indent">
            <a href="https://www.haskell.org/hoogle/" target="_blank">Hoogle</a> &mdash; а-ля Google для поиска по Haskell API.
            <div class="links-divider"></div>
            <a href="http://hayoo.fh-wedel.de/" target="_blank">Hayoo!</a> &mdash; а-ля Yahoo! для поиска там же.
            <div class="links-divider"></div>
        </div>
    </div>
</div>


