<iframe id="forum_embed" src="javascript:void(0)"
                         scrolling="no"
                         frameborder="0"
                         width="100%"
                         height="400">
</iframe>

<noscript>
	Для поддержки отображения форума, необходим включенный javascript.<br />
	Если вы являетесь идеологическим противником javascript, то архив рассылки
	всегда можно посмотреть <a href="https://groups.google.com/forum/#!forum/haskell-russian">на сайте google groups</a>
</noscript>

<script type="text/javascript">
//<![CDATA[
document.getElementById("forum_embed").src =
   "https://groups.google.com/forum/embed/?place=forum/haskell-russian" +
   "&showsearch=true&showpopout=true&parenturl=" +
   encodeURIComponent(window.location.href);
// ]]>
</script> 

<script>
    jQuery(function(){
        jQuery("#searchForm").remove()

        var fixSize = function() {
            jQuery("#forum_embed").height(
                jQuery(window).height() - jQuery("#forum_embed").position().top - jQuery("footer").height() - 10
            )
        }

        jQuery(window).on('resize', fixSize)
        fixSize()
    })
</script>